<!doctype html>
<html ng-app="phonecatApp">

<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="index.css">
</head>

<body ng-controller="PhoneListCtrl">
  <p>Hello, {{name}}</p>
  <div>
    <div class="col-md-2">
      Search: <input ng-model="query">
    </div>
    <div class="col-md-10">
      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
          <a href="#/phones/{{phone.id}}" >
            <img class="thumb" ng-src="{{phone.imageUrl}}" alt="{{phone.name}}">
          </a>
          <!--{{phone.name}}-->
           <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
    </div>
  </div>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
</body>

</html>