.col-md-2{
    margin-left: 0px;
    margin-top: 40px;
    color: orangered;
}
.col-md-10{
    margin-left: 240px;
}
.thumb{
    width: 100px;
    height: 80px;
}
.img-style{
    width: 150px;
    height: 120px;
}